.container-calendario {
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
    overflow: scroll;
    padding: 30px;
    box-shadow: var(--shadow);
    border: 0px solid ;
    border-radius: 8px;

}

.calendario-header {
    width: 100%;
    height: 100px;
    color: aliceblue;
    text-align: center;
}

.calendario-header span {
    color: aliceblue;
    font-size: 24px;

}

/*Container de inputs*/

.container-horarios{
    display: grid;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr) repeat(2, 0.5fr);
    
}

.items-botoes{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

/*Input do calendario*/

.horario-input{
    width: 170px;
    height: 35px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    color: var(--dark-text);
    box-shadow: var(--shadow);
}



.botao-calendario{
    font-size: 20px;
}

/*Colocar css quando o fomulario esta preenchido esta preenxido*/

input[readonly] {
    background-color: color-mix(in srgb, var(--white-text), gray 30%);
    border: 1px solid #ddd;
    color:var(--dark-text);
    cursor: default;
    box-shadow: none;
    user-select: none;           /* impede seleção do texto */
    -webkit-user-select: none;   /* para Chrome/Safari */
    -moz-user-select: none;      /* para Firefox */
    -ms-user-select: none;       /* para IE/Edge */
}

input[readonly]:focus {
    outline: none;
    box-shadow: none;
}

