.formulario{
    padding: 20px;
}


.container-form{
    width: 100%;
    height: auto;
    background-color: var(--segundaria-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    position: relative;
    padding: 15px;
}

.container-item{
    width: 100%;
    position: relative;
    left: 22%;

}



.item-formulario{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}