@import url("../css/home.css");
@import url("../css/navegacao.css");
@import url("../css/login.css");
@import url("../css/modal.css");
@import url("../css/formulario.css");
@import url("../css/calendario.css");
@import url("../css/calendario.css");


:root {
    /* --primary-color: #1a73e8; */
    --primary-color: #24c2e9;
    --primary-color-hover:  color-mix(in srgb, var(--primary-color), black 50%);
    --segundaria-color:#eeeeee;
    --green-color:green;
    --modal-font-titulo: 15px;
    --dark-text: #333;
    --light-text: #666;
    --white-text: #fff;
    --border-color: #e0e0e0;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    color: var(--dark-text);
}

h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-text);
    
}

span{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--light-text);
}


/*Container Principal que vai organizar a estrutura do site"*/

.section-container{
    max-width: 1350px;
    margin: 0 auto;
}

.layout-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-content {
    margin-left: 220px; /* mesma largura da sidebar */
    transition: margin-right 0.3s ease;
}

.sidebar.collapsed + .main-content {
    margin-right: 20%; /* largura da sidebar recolhida */
}
