.container-calendario {
    position: relative;
    width: 100%;
    height: 720px;
    background-color: var(--white-text);
    overflow: scroll;
    box-shadow: var(--shadow);
    border: 0px solid;
    border-radius: 0px 0px 8px 8px;

}

#calendario-form {
    display: none;
    overflow-x: hidden;
}

#tabela-folha-mensal {
    display: none;
}



.calendario-header {
    width: 100%;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 30px;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 1;
    align-items: center;
}

.item-horario {
    display: flex;
    gap: 10px;
}

.calendario-body {
    margin-top: 10px;
}

.calendario-header-btns {
    display: flex;
    width: 400px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.btn-formulario-header {
    background: var(--segundaria-color);
    color: var(--primary-color);
    width: 175px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    /* Ajustado para transition: all para pegar todas as mudanças suavemente */
    transition: all 0.3s ease;
}

.btn-formulario-header:hover {
    background-color: color-mix(in srgb, var(--segundaria-color), black 10%);
    /* Em vez de bold, um leve zoom que é 100% fluido */
    transform: scale(1.05);
}

.calendario-titulo span {
    color: aliceblue;
    font-size: 24px;
}



.btn-calendario {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: 0px solid;
    color: var(--white-text);
    border-radius: 3px;
    background: color-mix(in srgb, var(--primary-color), black 20%);
    transition: background 0.5s ease, transform 0.5s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-calendario:hover {
    background: color-mix(in srgb, #14dd57, black 20%);
    transform: scale(1.05);
}


/*Container de inputs*/

.container-horarios {
    display: flex;
    width: 100%;
    margin: 10px auto;
    gap: 15px;

}

.items-botoes {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
}

.items-horarios {
    display: flex;
    margin-top: 7px;
}


/*Input do calendario*/

.horario-input {
    width: 140px;
    height: 30px;
    border: 1px solid color-mix(in srgb, var(--light-text), white 70%);
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    color: var(--dark-text);
}

.input-colunm {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 10px;
    margin-left: 50px;
}


.input-colunm span {
    font-size: 14px;
    color: var(--dark-text);
    margin-bottom: 2px;
}

.container-circulo {
    width: 78px;
    height: auto;
    padding: 5px;
}

.circule-data {
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    border: 0px solid;
    border-radius: 30px;
}

.header-data {
    display: flex;
    flex-direction: column;
    width: 140px;
    justify-content: center;
    height: auto;
    padding: 10px;
}

.circule-dia {
    background: color-mix(in srgb, var(--primary-color), black 25%);
}

.circule-data span {
    position: relative;
    top: 19px;
    left: 17.5px;
    color: var(--white-text);
    font-size: 20px;
    font-weight: bold;

}

.linha-vertical {
    width: 2px;
    height: auto;
    background: var(--primary-color);

}

.linha-dia {
    padding: 11px;
    border-bottom: 1px solid #ddd;
}

.linha-dia.proximo-dia {
    opacity: 50%;
    pointer-events: none;
}


.botao-calendario {
    font-size: 20px;
    cursor: pointer;
}


/*Colocar css quando o fomulario esta preenchido esta preenxido*/

input[readonly] {
    background-color: color-mix(in srgb, var(--white-text), gray 30%);
    border: 1px solid #ddd;
    color: var(--dark-text);
    cursor: default;
    box-shadow: none;
    user-select: none;
    /* impede seleção do texto */
    -webkit-user-select: none;
    /* para Chrome/Safari */
    -moz-user-select: none;
    /* para Firefox */
    -ms-user-select: none;
    /* para IE/Edge */
}

input[readonly]:focus {
    outline: none;
    box-shadow: none;
}

/*========================Página Feriado=====================*/

.container-feriado {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--white-text);
    overflow: hidden;
    box-shadow: var(--shadow);
    border: 0px solid;
    border-radius: 0px 0px 8px 8px;
    display: none;
}

/*Oculta Elementos da página de feriado e ponto facultativo*/
#escolha-feriado {
    display: none;
}

#escolha-ponto-facultativo {
    display: none;
}


.container-input {
    border: 2px solid var(--primary-color);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-bottom: 20px;
    padding-left: 20px;
}


.item-ponto-facultativo {
    margin: 10px 0;
}

.um-input {
    display: flex;
    flex-direction: column;
}

.container-servidor-publico {
    display: none;
}

.container-estagiario {
    display: none;
}